*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
  margin-left: 5rem;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color:chartreuse;
}